.mute_button {
    position: absolute;
    bottom: 30px;
    right: 170px;
    font-size: 18px;
    color: var(--label-font-color);
}

@media screen and (max-width: 600px) {
    .mute_button {
        right: 140px;
    }
}

@media (hover: hover) {
    .mute_button:hover {
        cursor: pointer;
        color: var(--tlou-yellow);
    }
}