.mute_button {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    right: 170px;
    font-size: 18px;
    color: var(--label-font-color);
}
.button_icon {
    text-align: right;
    display: inline-block;
    width: 0;
    transform: scale(0);
    line-height: 0;
    transition: transform 0.2s ease-out, width 0.2s ease-out;
    color: var(--tag-font-color);
}

@media screen and (max-width: 600px) {
    .mute_button {
        right: 140px;
    }
}

@media (hover: hover) {
    .mute_button:hover {
        cursor: pointer;
        color: var(--tlou-yellow);
    }
    .mute_button:hover .button_icon {
        width: 15px;
        transform: scale(100%);
    }
}