.mute_button {
    position: absolute;
    bottom: 30px;
    right: 170px;
    font-size: 18px;
    color: var(--label-font-color);
}
.mute_button:hover {
    cursor: pointer;
    color: var(--tlou-yellow);
}