.countdown {
    font-family: var(--tlou-font);
    color: var(--label-font-color);
    text-align: left;
    text-shadow: 0 0 1px black;
    display: inline-block;
    opacity:0;
    margin-left: -20px;
}
.countdown_col {
    display: inline-block;
    align-items: center;
    text-shadow: 0 0 1px #000;
}
.countdown_col_element {
    display: inline-block;
    font-size: 18px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.countdown_col_element strong {
    font-size: 64px;
    left: -2px;
    font-weight: normal;
    width: 42px;
}
.countdown_animation {
    animation: slide-up-fade-in ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards; 
    animation-delay: .25s;
}

@keyframes slide-up-fade-in{
    0% {
        opacity:0;
    }
    70% {
    	opacity: 0;
    	transform: translate(0px, 40px);
    	-webkit-transform: translate(0px, 40px);
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px);
        -webkit-transform: translate(0px, 0px);
    }
}

@media screen and (max-width: 600px) {
    .countdown {
        text-align: center;
    }
}

@media screen and (min-width: 2560px) {
    .countdown_col_element {
        margin: 0 1.5vw;
        font-size: calc(36px + .25vw);
    }
    .countdown_col_element strong {
        width: unset;
        font-size: calc(128px + 1vw);
        width: 100px;
    }
    
}
