.quote_container {
    text-shadow: 0 0 1px black;
	margin-top: 50px;
	height: 120px;
}
.shown_quote {
    color: var(--label-font-color);
    font-family: var(--tlou-font);
	font-size: 22px;
	display: inline-block;
	width: 100%;
	font-weight: normal;
	text-align: left;
	opacity: 0;
	transition: 1s opacity;
}
.quote_visible {
	opacity: 1;
}

@media screen and (max-width: 600px) {
	.shown_quote {
		text-align: center;
	}
}

@media screen and (min-width: 2560px) {
	.quote_container {
		margin-top: 75px;
		padding-left: 2%;
	}
	.shown_quote {
		font-size: 42px;
	}
}