.quote_container {
    text-shadow: 0 0 1px black;
	margin-top: 50px;
	height: 120px;
}
.shown_quote {
    color: var(--label-font-color);
    font-family: var(--tlou-font);
	font-size: calc(12px + .7vw);
	display: inline-block;
	width: 100%;
	font-weight: normal;
	text-align: left;
	animation: quoteAppearQuoteDisappear ease 9s;
	animation-iteration-count: infinite;
}

@keyframes quoteAppearQuoteDisappear{
	0%{
		opacity: 0;
	}
	15%{
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	85%{
		opacity: 0;
	}
	100%{
		opacity: 0;
	}
}