.quote_container {
	z-index: 99;
    text-shadow: 0 0 1px black;
	position: absolute;
	bottom: 35vh;
	left: 100px;
	width: 350px;
}
.shown_quote {
    color: white;
    font-family: var(--tlou-font);
	font-size: calc(12px + .7vw);
	display: inline-block;
	font-weight: normal;
	margin-top: 25vh;
	max-width: 75vw;
	text-align: left;
	animation: quoteAppearQuoteDisappear ease 9s;
	animation-iteration-count: infinite;
}