.store_container {
    padding: 24px 0;
    border-top: var(--border-line);
    text-align: left;
}
.store_container:nth-child(-n+2) {
    border-top: none;
}
.store_name {
    font-size: 18px;
    line-height: 1.35;
    font-weight: bold;
    margin: 0 0;
    margin-bottom: 10px;
    color: var(--label-font-color);
    transition: 0.2s all ease-out;
}
.tag {
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px 8px;
    font-size: 14px;
    color: var(--tag-font-color);
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--tag-background-color);
    cursor: pointer;
}
.tag:not(:last-child) {
    margin-right: 5px;
}
.tag-group {
    margin-bottom: -5px; 
}
.tag_active {
    position: relative;
    color: var(--tag-active-font-color);
    background-color: var(--tag-active-background-color);
    transform-style: preserve-3d;
}
.tag_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: #707070;
    opacity: .15;
    transform: translateZ(-1px);
}
.tag_active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: var(--tag-background-color);
    opacity: 1;
    transform: translateZ(-2px);
}
.tag_hidden {
    display: none;
}
.close_tag {
    text-align: right;
    display: inline-block;
    width: 0;
    transform: scale(0);
    line-height: 0;
    transition: transform 0.2s ease-out, width 0.2s ease-out;
    color: var(--tag-font-color);
}
.close_tag::after {
    transition: all 0.2s ease-out;
    opacity: 0;
}

@media screen and (max-width: 600px) {
    .store_container:nth-child(-n+2) {
        border-top: var(--border-line);
    }
}

@media (hover: hover) {
    .tag:hover {
        color: var(--label-font-color); 
    }
    .tag_active:hover {
        color: var(--tag-active-font-color);
        background-color: rgba(245, 184, 0, 0.3);
    }
    .tag_active:hover .close_tag {
        width: 15px;
        transform: scale(100%);
    }
    .tag_active:hover .close_tag::after {
        content: "";
        position: absolute;
        background: var(--tag-background-color);
        left: 4.25px;
        top: -6px;
        width: 14px;
        height: 14px;
        z-index: -1;
        border-radius: 4px;
        opacity: 1;
    }
}