.store_container {
    padding: 24px 0;
    border-top: var(--border-line);
    text-align: left;
}
.store_container:nth-child(-n+2) {
    border-top: none;
}
.store_name {
    font-size: 18px;
    line-height: 1.35;
    font-weight: bold;
    margin: 0 0;
    margin-bottom: 10px;
    color: var(--label-font-color);
    transition: 0.2s all ease-out;
}
.tag {
    display: inline-block;
    margin-bottom: 5px;
    padding: 3px 8px;
    font-size: 14px;
    color: var(--tag-font-color);
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--tag-background-color);
    cursor: pointer;
}
.tag:not(:last-child) {
    margin-right: 5px;
}
.tag:hover {
    color: var(--label-font-color); 
}
.tag-group {
    margin-bottom: -5px; 
}
.tag_active {
    position: relative;
    color: var(--tag-active-font-color);
    background-color: var(--tag-active-background-color);
}
.tag_active:hover {
    color: var(--tag-active-font-color);
    background-color: rgba(245, 184, 0, 0.3);
}
.tag_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: #707070;
    opacity: .2;
}
.tag_hidden {
    display: none;
}