.wrapper {
    min-height: 100vh;
    width: 100vw;
    background: lightgreen;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 48px 0;
}
.width_wrapper {
    width: 60%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.preorder_title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3vw;
    text-align: left;
}
.last_updated {
    padding-top: 24px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}
.selected_tags {
    margin: 0 auto;
    text-align: left;
    padding-bottom: 24px;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: space-between;
}
.selected_tags_title {
    display: inline-block;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 0;
}
.selected_tags_hidden {
    height: 0;
    padding: 0;
}
.open_form {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
}
.open_form:hover {
    cursor: pointer;
}
.location_search_container {
    position: relative;
}
.store_list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
    border-top: var(--border-line);
}
.empty_list {
    padding: 24px 0;
    margin-right: auto;
}
.empty_list_label {
    margin-right: 5px;
    font-weight: bold;
}
.submit_store_form {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    visibility: hidden;
}
.submit_store_form_open {
    visibility: visible; 
}



@media screen and (max-width: 600px) {
    .store_list {
        grid-template-columns: 1fr;
    }
}