.wrapper {
    min-height: 100vh;
    width: 100vw;
    background: #000002;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 48px 0;
}
.width_wrapper {
    width: 60%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.preorder_title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    text-align: left;
    color: var(--label-font-color);
}
.last_updated {
    padding-top: 24px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: var(--label-font-color);
}
.selected_tags {
    margin: 0 auto;
    text-align: left;
    padding-bottom: 24px;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: space-between;
    color: var(--label-font-color);
}
.selected_tags_title {
    display: inline-block;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 0;
}
.selected_tags_hidden {
    height: 0;
    padding: 0;
}
.open_form {
    margin-top: 10px;
    margin-left: auto;
    font-weight: bold;
}
.open_form > h3 {
    margin: 0;
    display: inline-block;
}
.open_plus {
    text-align: center;
    display: inline-block;
    width: 0;
    transform: scale(0);
    font-size: 22px;
    line-height: 18px;
    transition: transform 0.2s ease-out, width 0.2s ease-out;
}
.open_form:hover .open_plus {
    width: 30px;
    transform: scale(100%);
}
.open_form:hover {
    cursor: pointer;
    color: var(--tlou-yellow);
}
.location_search_container {
    position: relative;
}
.store_list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
    border-top: var(--border-line);
}
.empty_list {
    padding: 24px 0;
    margin-right: auto;
}
.empty_list_label {
    margin-right: 10px;
    font-weight: bold;
    color: var(--label-font-color);
}
.submit_store_form {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: none;
    transition: visibility .2s ease-out, opacity .2s ease-out, backdrop-filter .2s ease-out;
}
.submit_store_form_open {
    visibility: visible; 
    opacity: 1;
    backdrop-filter: blur(2px);
}
.form_container {
    transform: translateY(75px);
    transition: transform .2s ease;
}
.form_container_open {
    transform: translateY(0%);
}


@media screen and (max-width: 600px) {
    .store_list {
        grid-template-columns: 1fr;
    }
    .width_wrapper {
        width: 90%;
    }
    .preorder_title {
        font-size: 36px;
    }
    .open_plus {
        display: none;
    }
    .selected_tags {
        flex-direction: column;
    }
    .open_form {
        margin-left: unset;
    }
}