.wrapper {
    min-height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--label-font-color);
    background: #000002;
    overflow-y: hidden;
}
.container {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 5%;
    position: absolute;
    left: 0;
    right: 0;
}
.down_button {
    z-index: 2;
    position: absolute;
    font-size: 18px;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    text-align: center;
}
.about_page {
    position: fixed;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: none;
    transition: visibility .2s ease-out, opacity .2s ease-out, backdrop-filter .2s ease-out;
}
.about_page_open {
    z-index: 12;
    visibility: visible; 
    opacity: 1;
    backdrop-filter: blur(2px);
}
.about_container {
    transform: translateY(-75px);
    transition: transform .2s ease-out;
}
.about_container_open {
    transform: translateY(0px);
}
.about_button {
    z-index: 2;
    font-size: 18px;
    position: absolute;
    bottom: 30px;
    right: 70px;
    color: var(--label-font-color);
}
.button_icon {
    text-align: right;
    display: inline-block;
    width: 0;
    transform: scale(0);
    line-height: 0;
    transition: transform 0.2s ease-out, width 0.2s ease-out;
    color: var(--tag-font-color);
}
.blur_overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 15%;
    background: linear-gradient(0deg, rgba(0,0,2,1) 44%, rgba(0,0,2,0.75) 55%, rgba(0,0,2,0) 100%);
}


@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .down_button {
        margin: unset;
    }
    .about_button {
        right: 40px;
    }
}

@media (hover: hover) {
    .down_button:hover {
        cursor: pointer;
    }
    .about_button:hover {
        cursor: pointer;
        color: var(--tlou-yellow);
    }
    .about_button:hover .button_icon {
        width: 15px;
        transform: scale(100%);
    }
}