.window {
    z-index: 0;
    min-height: 100vh;
    min-width: 100vw;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .window {
        min-height: 100vh;
        /* min-height: -webkit-fill-available; */
        filter: brightness(0.5);
    }
}
