.search_items_container {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 21px;
    opacity: 0;
    pointer-events: none;
}
.search_items_visible {
    pointer-events: all;
    opacity: 1;
}
.list_container {
    padding: 0;
    display: inline-block;
    font-size: 14px;
    color: var(--tag-font-color);
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--tag-background-color);
    cursor: pointer;
    width: 120px;
    margin-top: 5px;
    list-style: none;
}
.search_item {
    margin: 0 0;
    list-style:none;
}
.search_item {
    padding: 3px 8px;
}
.search_item:hover {
    color: var(--label-font-color); 
}
.search_item_active {
    position: relative;
    color: var(--tag-active-font-color);
    background-color: var(--tag-active-background-color); 
}
.search_item_active:hover {
    color: var(--tag-active-font-color);
    background-color: rgba(245, 184, 0, 0.2);
}
.search_item_active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: #707070;
    opacity: .2;
    z-index: -1;
}