.form_wrapper {
    position: relative;
}
.form_container {
    z-index: 99;
    padding: 25px 25px;
    width: 50vw;
    max-height: 900px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background: var(--tag-background-color);
    text-align: left;
    border-radius: 8px;
}
.form_title {
    font-size: 24px;
    line-height: 1.35;
    margin: 0 0;
    margin-bottom: 20px;
    color: var(--label-font-color);
}
.close_icon {
    display: block;
    font-size: 24px;
    line-height: 20px;
    color: var(--label-font-color);
}
label:not(.radio_button_elem) {
    padding: 12px 0;
}
.label {
    display: block;
    color: var(--label-font-color);
    font-size: 18px;
    margin-bottom: 12px;
}
input[type=text] {
    all: unset;
    border-bottom: 1px solid rgba(149, 159, 178, 0.25);
    width: calc(100% - 32px);
    margin-left: 16px;
    color: var(--tag-font-color);
}
input[type=text]::placeholder {
    color: var(--tag-font-color);
}
input[type=text]:focus {
    border-bottom: 1px solid var(--label-font-color);
}
.other_remarks_container {
    height: 100px;
    width: calc(100% - 32px);
    resize: none;
    background: none;
    outline: none;
    border: 1px solid rgba(149, 159, 178, 0.25);
    border-radius: 5px;
    margin-left: 16px;
    font: inherit;
    color: var(--tag-font-color);
}
.other_remarks_container:focus {
    border: 1px solid var(--label-font-color);
}
.radio_button_group {
    margin-left: 16px;
    color: var(--tag-font-color);
}
.radio_button_elem {
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
    width: 18px;
    height: 10px;
    background: var(--tag-background-color);
}
input[type=radio] {
    appearance: none;
}
input[type=radio]:checked+label {
    color: var(--label-font-color);
}
.title_container,
.thank_you_container {
    display: flex;
    justify-content: space-between;
}
.thank_you {
    font-size: 18px;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 20px;
    color: var(--label-font-color);
}
.submit_button {
    all: unset;
    display: inline-block;
    font-size: 18px;
    position: relative;
    padding: 12px 24px;
    margin-left: auto;
    margin-top: 20px;
    font-weight: bold;
    color: var(--label-font-color);
}
.error_text {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: initial;
}
.loading_overlay {
    display: grid;
    place-items: center;
}
.loading_content {
    color: white;
}
.submit_arrow {
    text-align: center;
    display: inline-block;
    width: 0;
    transform: scale(0);
    font-size: 22px;
    line-height: 18px;
    transition: transform 0.2s ease-out, width 0.2s ease-out;
}

@media screen and (max-width: 600px) {
    .form_wrapper {
        width: 95%;
    }
    .form_container {
        width: 100%;
        padding: 20px 20px;
    }
    input[type=text] {
        all: unset;
        border-bottom: var(--border-line);
        width: calc(100% - 16px);
        margin-left: 8px;
        color: var(--tag-font-color);
    }
    .other_remarks_container {
        margin-left: 8px;
        width: calc(100% - 16px);
    }
    input[type=radio],
    input[type=radio]:checked {
        display: none;
        -webkit-appearance: none;
    }
}

@media (hover: hover) {
    .close_icon:hover {
        cursor: pointer;
        color: var(--tag-font-color);
    }
    input[type=text]:hover {
        cursor: text;
    }
    .radio_button_elem:hover {
        cursor: pointer;
    }
    .submit_button:hover {
        cursor: pointer;
        color: var(--tlou-yellow);
    }
    .submit_button:hover .submit_arrow {
        width: 30px;
        transform: scale(100%);
    }
}



