@font-face {
	font-family: PressGothic;
	src: local('PressGothic'), url(./fonts/PressGothic.otf)format('truetype');
}
html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
	background: #fafafa;
	font-weight: 400;
	font-family: sans-serif;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--tlou-font: PressGothic;
}
* {
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}
#scroll_container {
	scroll-snap-type: y mandatory;
	height: 100vh;
	overflow: auto;
	position: relative;
}